.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('/login.jpg') no-repeat center center;
  background-size: cover;
  font-family: Arial, sans-serif;
}


.login-card {
background: white;
padding: 2rem 3rem;
border-radius: 16px;
box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
width: 100%;
max-width: 400px;
}

.login-card h2 {
text-align: center;
margin-bottom: 1.5rem;
color: #007cf0;
}

.login-card label {
display: block;
margin-bottom: 0.5rem;
font-weight: bold;
}

.login-card input {
width: 100%;
padding: 0.75rem;
margin-bottom: 1rem;
border-radius: 8px;
border: 1px solid #ccc;
outline: none;
font-size: 1rem;
}

.login-card button {
width: 100%;
padding: 0.75rem;
background-color: #007cf0;
color: black;
border: none;
border-radius: 8px;
font-size: 1rem;
cursor: pointer;
transition: background 0.3s ease;
}

.login-card button\:hover {
background-color: #005fa3;
}

.login-links {
text-align: right;
margin-bottom: 1rem;
}

.login-links a {
color: #007cf0;
text-decoration: none;
font-size: 0.9rem;
}

.signup-text {
text-align: center;
margin-top: 1rem;
color: black;
}

.signup-text a {
color: #04529b;
text-decoration: none;
font-weight: bold;
}

.signup-link a:hover {
  color: #005fa3;
  text-decoration: underline;
}